@(fName:String)(lName: String)(checkInDT: List[String])(checkOutDT: List[String])
@main("AMS"){
<div class="container">
    <h2 style="text-align:left;float:left;" >First Name : @fName</h2>&nbsp;
    <h2 style="text-align:right;float:right;">Last Name : @lName</h2>
    <table id="emp">
        <tr>
            <th>Checked In Date Time</th>
            <th>Checked Out Date Time</th>
        </tr>
        <tr>
            @for(in <- checkInDT){
            <td>@in</td>
            }
            @for(out <- checkOutDT){
            <td>@out</td>
            }
        </tr>
    </table>
</div>
}