@(fName:String)(lName: String)(checkInDT: List[String])(checkOutDT: List[String])
@main("Attendance"){
<div class="container">
    <table id="emp">
        <thead>
        <tr>
            <th>Checked In Date Time</th>
            <th>Checked Out Date Time</th>
        </tr>
        </thead>
        <tbody>
        @defining({checkInDT.zip(checkOutDT)}){ checkinout=>
        @for((in, out) <- checkinout){
        <tr>
            <td>@in</td>
            <td>@out</td>
        </tr>
        }
        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#emp').DataTable();
    });


</script>
}