@()
@main("Check"){
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<div class="container">
    <center>
        <h2>Check your attendance here</h2>
    </center>
    <center>
        <form action="/attendance" method="get">
            <label>
                Email: <input id="email" name="email" type="email" placeholder="name@@email.com"/> <br>
            </label>
            <button class="button" type="submit" >Submit</button>
        </form>
    </center>
</div>
}