@()
@admin("Check"){
<div class="center">
    <div class="container">
        <center>
            <h2>Enter employee email</h2>
        </center>
        <center>
            <form action="/admin/attendance" method="get">
                <label>
                    Email: <input id="email" name="email" placeholder="name@@email.com" type="email"/> <br>
                </label>
                <button class="button" type="submit">Submit</button>
            </form>
        </center>
    </div>
</div>
}