@main("CheckIn"){
<div class="center">
    <div class="container">
        <center>
            <h2>Employee Check In/Out</h2>
            <button class="button" id="saveAttBtn" onclick="saveAtt()" style="width:35%" type="button">Submit
                Attendance
            </button>
        </center>
        <!--        <center>-->
        <!--            <form id="attendanceForm">-->
        <!--                <label for="email">Email:</label>-->
        <!--                <input id="email" name="email" type="email"/><br>-->
        <!--                -->
        <!--            </form>-->
        <!--        </center>-->
    </div>
</div>
}