@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href='@routes.Assets.versioned("stylesheets/main.css")' media="screen" rel="stylesheet">
<!--    <link href='@routes.Assets.versioned("stylesheets/prism.css")' media="screen" rel="stylesheet">-->
    <link href='@routes.Assets.versioned("images/favicon.png")' rel="shortcut icon" type="image/png">
<!--    <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>-->
<!--    <script src='@routes.Assets.versioned("javascripts/prism.js")' type="text/javascript"></script>-->
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
</head>
<body>
<div class="topnav">
    <img src="https://media.glassdoor.com/sqll/2152555/nexxo-financial-corporation-il-squarelogo-1554706676559.png" id="logo">
    @if(session.containsKey("connected")){
        <a href="/logout">Logout</a>
    <a @if(title=="Check"){class="active"} href="/attendance/check">Check attendance</a>
    <a @if(title=="CheckIn"){class="active"} href="/checkInOut">Attendance</a>
    }else{
    <a @if(title=="Login"){class="active"} href="/login">Login</a>
    <a @if(title=="Register"){class="active"} href="/register">Register</a>
    }
    <a href="/" @if(title=="Home"){class="active"}>Home</a>
</div>
<div class="center">
    @content
</div>
</body>
<div class="footer">
    2019 copyright
</div>
</html>