@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
<!--    <link href='@routes.Assets.versioned("stylesheets/main.css")' media="screen" rel="stylesheet">-->
<!--    <link href='@routes.Assets.versioned("stylesheets/prism.css")' media="screen" rel="stylesheet">-->
    <link href='@routes.Assets.versioned("images/favicon.png")' rel="shortcut icon" type="image/png">
<!--    <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>-->
<!--    <script src='@routes.Assets.versioned("javascripts/prism.js")' type="text/javascript"></script>-->
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
</head>

<body>
<div>
    <header>
       AMS
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/check">Check attendance</a></li>
        </ul>
    </nav>
</div>

<!--<section id="top">-->
<!--    <div class="wrapper">-->
<!--        <img alt="logo" class="resize" src="assets/images/play_icon_reverse.svg"/>-->
<!--&lt;!&ndash;        <center></center><h1>Attendance Management System</h1>&ndash;&gt;-->

<!--    </div>-->
<!--</section>-->
@content
</body>
<footer>
    2019 copyright
</footer>
</html>