@()
@main("Register"){
<div class="container">
    <center>
        <h2>Register</h2>
    </center>
    <center>
        <form id="registerForm">
            Email: <input id="email" name="email" type="email" placeholder="name@@email.com" required/> <br/>
            Password: <input id="pwd" name="password" type="password" required/> <br/>
            FirstName: <input id="fName" name="firstName" type="text" required/> <br/>
            LastName: <input id="lName" name="lastName" type="text" required/><br>
            <button class="button" type="button" onclick="register()">Submit</button>
        </form>
    </center>
</div>
}